.p-H5-house1{
    background-image: url(../pics/modern-house1.jpg);
}

.p-H5-house2{
    background-image: url(../pics/blueHouse.jpg);
}

.p-H5-house3{
    background-image: url(../pics/modern-house2.jpg);
}

.p-H5-house4{
    background-image: url(../pics/modern-house3.jpg);
}

.p-H5-house5{
    background-image: url(../pics/modern-house4.jpg);
}

.p-H5-house6{
    background-image: url(../pics/modern-house5.jpg);
}


.p-H5-user1{
    background-image: url(../pics/user1.png);
}

.p-H5-user2{
    background-image: url(../pics/user2.jfif);
}

.p-H5-user3{
    background-image: url(../pics/user3.jfif);
}

.p-H5-user4{
    background-image: url(../pics/user4.jfif);
}

.p-H5-user5{
    background-image: url(../pics/user5.jfif);
}

.p-H5-user6{
    background-image: url(../pics/user6.jfif);
}

.p-H5-user7{
    background-image: url(../pics/user7.jfif);
}

.p-H5-user8{
    background-image: url(../pics/user8.jfif);
}